# sm64ex-custom config file

# External config file to use - If the given file exists in path, it will override default config (customization.cfg) - Default is ~/.config/sm64ex-custom/config
_EXT_CONFIG_PATH=~/.config/sm64ex-custom/config

# External cache path to use - Default is ~/.config/sm64ex-custom/cache/
_EXT_CACHE_PATH=~/.config/sm64ex-custom/cache/

# Set to 1 to use download cache
_useCache=

# Set to 1 clean the cache
_cleanCache=

# Set this var to skip options prompt
_skipOptions=

# Options, set to 0 or 1
_bettercamera=
_debug=
_nodrawingdistance=
_texture_fix=
_external_data=
_discordrpc=
_windows_build=
_windows_console=
_textsaves=
_target_web=

# Set this var to skip patches prompt
_skipPatches=

# Patches, set to 0 or 1
_60fps=
_no_exit_star=
_tight_controls=
_captain_toad=
_title_return=
_3d_coin=
_exit_50_coin=
_mouse_fix=
_title_exit=
_star_delay=
_time_trial=
_odyssey_moveset=

# Set this var to skip models prompt
_skipModels=

# Models, set to 0 or 1
_hd_bowser=
_hd_koopa=
_hd_peach=

# Mario model options are
# - default
# - hd_mario
# - luigi
# - hat_kid
# - bow_kid
# - mawio
# - odyssey_mario
# - old_school_hd_mario
# - beta_mario
_mario_model=

# Texture pack options are
# - default
# - mollymutt
# - hypatia
# - sm64_redrawn
# - resrgan_16x
# - resrgan_n64
# - p3st
# - cleaner
# - owo
# - minecraft
# - jappawakka_admentus_hd
# - beta_hud
_texture_pack=

# us, eu, or jp
_region=

# default, 64, or 32. Blank will use system default.
_target_bits=

# GL (default), GL_LEGACY, D3D11, or D3D12
# D3D renderers require Windows build
_render_api=

# Enter the path to the ROM file here to automatically copy it to build directory
_rom_path=